<html>
    <head>
        <title> Hello | Welcome to my blog</title>
    </head>
    <body>
        <h1>BlogCaNhan</h1>
            <p>
                Day la Trang Chu
            </p>
    </body>
</html>